<div class="container-fluid borderBottom draftHeader">
 	<div class="row">
   		<div class="col-md-4">
   			<h1>Draft Room</h1>
   		</div>

   		<div class="col-md-4 col-md-offset-4">
   			Timer here<br/>
   			on the clock
   		</div>
   	</div>
</div>


<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 rightBorder draft">
			<img src="">Image
			<p>{{player.name}}</p>
			<p>{{player.position}}</p>
			look at music history songoutput on how to output players into their own little box
		</div>

		<div class="col-md-5 rightBorder draft">
			my team roster here
			<div class="draftMyTeam">
				<table class="leagueTable">
            	<tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable">Player</td>
                    <td class="leagueTable">Position</td>
                    <td class="leagueTable">Stats</td>
                </tr>
            </table>
			</div>
		</div>

		<div class="col-md-3 draft">
			<select class="form-control">
				<option>Team 1</option>
			</select>

			<div>
				show team's roster from dropdown
			</div>
		</div>

		<!-- div>
			chat room here
		</di -->
	</div>
</div>