<div class="container-fluid borderBottom draftHeader">
 	<div class="row">
   		<div class="col-md-4">
   			<h1>Draft Room</h1>
   		</div>

 		  <div class="col-md-2 col-md-offset-4">
   			Timer here<br/>
   			on the clock
      </div>
      <div class="col-md-2">
          <a href="#/home" class="btn btn-default btn-lg active navButt" role="button">League Home</a>
      </div>

      <div class="row">
        <div class="col-md-12 draftTeams">

          <ul>
            <li>team 1</li>
            <li>team 2</li>
            <li>team 3</li>
            <li>team 4</li>
          </ul>

        </div>
      </div>

  </div>
</div>



<!-- <div class="container-fluid draftTeams">
  <div class="row">
    <div class="col-md-12">

      <ul>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
      </ul>

    </div>
  </div>
</div> -->



<div class="container-fluid">
	<div class="row">
		<div class="col-md-4 rightBorder draft divHeight">
            <div ng-repeat="dude in loadedPlayers" class="row draftBoxes draftPicks" ng-click="do(dude.$id)">
                <div class="col-md-12" data-toggle="modal" data-target="#confirmDraft">
    			     <!-- <img src=""> -->
                    <p>{{dude.displayName}} - {{dude.position}} - {{dude.team}}</p>
                </div>
            </div>
		</div>
                    
                
                

		<div class="col-md-5 rightBorder draft">
			my team roster here
			<div class="draftMyTeam">
				<table class="leagueTable">
            	<!-- <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                    <td class="leagueTable"></td>
                </tr> -->
            </table>
			</div>
		</div>

		<div class="col-md-3 draft">
			<select class="form-control">
				<option>Team 1</option>
			</select>

			<div>
				show team's roster from dropdown
			</div>
		</div>

		<!-- div>
			chat room here
		</div> -->

        <!--  confirm cancel Modal -->
    <div id="confirmDraft" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Do you wish to draft {{modalPlayer.displayName}}?</h4>
          </div>
          <div class="modal-body">
              <button ng-click="draftPlayer()" data-dismiss="modal" class="btn">DRAFT</button>
              <!-- <button class="btn" data-dismiss="modal">No</button> -->
          </div>
          <div class="modal-footer">
            <button type="button" ng-click="cancelPlayer()" class="btn btn-default" data-dismiss="modal">cancel</button>
          </div>
        </div>

      </div>
    </div>
	</div>
</div>