<div class="container-fluid">
 	<div class="row">
   		<div class="col-md-12 borderBottom">
   			<img src="">League Logo here
   			<h1>Fantasy Football Forum</h1>
   		</div>
   	</div>
</div>



<div class="container-fluid">
 	<div class="row">
   		<div class="col-md-10 col-md-offset-2 navbar">
   			<a href="#" class="btn btn-default btn-lg active navButt" role="button">League Home</a>
			<a href="#" class="btn btn-default btn-lg active navButt" role="button">My Team</a>
			<a href="#" class="btn btn-default btn-lg active navButt" role="button">Players</a>
			<a href="#" class="btn btn-default btn-lg active navButt" role="button">Draft Room</a>
			<a href="#" class="btn btn-default btn-lg active navButt" role="button">Discussion Board</a>
   		</div>
   	</div>
</div>

<div></div>



<div class="container-fluid">
 	<div class="row">
   		<div class="col-md-3 col-md-offset-2">
   			<h3>League Standings</h3>
            <table class="leagueTable">
            	<tr class="leagueTable">
                    <td class="leagueTable">Division 1</td>
                    <td class="leagueTable">Division 2</td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"><a href="">Team 1</a></td>
                    <td class="leagueTable"><a href="">Team 2</a></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"><a href="">Team 3</a></td>
                    <td class="leagueTable"><a href="">Team 4</a></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"><a href="">Team 5</a></td>
                    <td class="leagueTable"><a href="">Team 6</a></td>
                </tr>
                <tr class="leagueTable">
                    <td class="leagueTable"><a href="">Team 7</a></td>
                    <td class="leagueTable"><a href="">Team 8</a></td>
                </tr>
            </table>
   		</div>

   		<div class="col-md-3 messageMain">
   			<h3>Smack Talkin' Area</h3>
   			<textarea class="messageMainBox"></textarea>
   			<input type="text" placeholder="Enter message here...">
   			<button>Enter</button>
   		</div>
   	</div>
</div>


              


