<div class="splashWholePage">

    <div class="container-fluid borderBottom draftHeader">
      <div class="row">
          <div class="col-md-10">
            <img src="images/FFF_logo.png" class="logo">
            <h3 class="draftTitle">Scoring Settings</h3>
          </div>  

          <div class="col-md-2">
            <a href="#/home" class="btn btn-default btn-lg active navButt" role="button">League Home</a>
          </div>
       </div>              
    </div>               


    <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
                    <table class="leagueTable">
                    	 <tr class="leagueTable">
                            <td class="leagueTable">Quarterback</td>
                            <td class="leagueTable">5 points throwing TD<br/>1 point per 25 throwing yards<br/>
                            -2 points for interception</td>
                        </tr>
                        <tr class="leagueTable">
                            <td class="leagueTable">Running Back</td>
                            <td class="leagueTable">6 points rushing TD<br/>1 point per 10 rushing yards<br/>
                            -2 points for fumble</td>
                        </tr>
                        <tr class="leagueTable">
                            <td class="leagueTable">Wide Receiver / Tight End</td>
                            <td class="leagueTable">6 points receiving TD<br/>1 point per 25 receiving yards<br/>
                            -2 points for fumble</td>
                        </tr>
                        <tr class="leagueTable">
                            <td class="leagueTable">Kicker</td>
                            <td class="leagueTable">1 point per PAT<br/>2 points per FG 0-30 yds<br/>3 points per FG 31-40 yds<br/>4 points per FG 41-50 yds<br/>5 point per FG 51+ yds<br/>

                        </tr>
                    </table>
          </div>  
       </div>              
    </div>
   
</div>
                            
                        