<!DOCTYPE html>

<!--
  Google HTML5 slide template
  Authors: Luke Mahé (code)
           Marcin Wichary (code and design)
           
           Dominic Mazzoni (browser compatibility)
           Charles Chen (ChromeVox support)
  URL: http://code.google.com/p/html5slides/
-->

<html>
  <head>
    <title>Final Capstone Presentation</title>

    <meta charset='utf-8'>
    <script
      src='http://html5slides.googlecode.com/svn/trunk/slides.js'></script>
  </head>
  
  <style>
    /* Your individual styles here, or just use inline styles if that’s
       what you want. */
    
    
  </style>

  <body style='display: none'>

    <section class='slides layout-regular template-default'>
      
      <!-- Your slides (<article>s) go here. Delete or comment out the
           slides below. -->
        
        
      

      <article class="nobackground">
        <h1>
          Fantasy Football Forum
        </h1><br/>
        <h3>
          (or just fffffff)
        </h3>
        <p>
          Brian Stumbaugh
          <br>
          January 5th, 2016
        </p>
      </article>
      
      <article class="nobackground">
        <h3>
          Project Goals:
        </h3>
        <ul>
          <li>
            Build a fantasy football site that simulates a draft (when each user picks all of their football players at the beginning of the season)
          </li>
          <li>
            Be able to handle multiple users logged in at the same time
          </li>
          <li>
            Update the list of football players to choose from, as well as each user's roster in real time
          </li>
          <li>
            Change the world
          </li>
        </ul>
      </article>

      <article class="nobackground">
        <h3>
          Demo
        </h3>
        <p>
          Time for a live demo!
        </p>
      </article>

      <article class="nobackground">
        <h3>
          Lessons Learned:
        </h3>
        <ul>
          <li>
            Learned how to structure data in a database to suit my needs
          </li>
          <li>
            The ins and outs of Angular (PFM)
          </li>
          <li>
            Important to take one thing at a time
          </li>
          <li>
            Avoid burn-out by taking lots of breaks
          </li>
        </ul>
      </article>

      
      <article class="nobackground">
        <h3>
          Thank you!
        </h3>
        
        <p>
        Questions?
        </p>
        <ul>
          <li>
            <a href='http://www.google.com'>brian.stumbaugh@gmail.com</a>
          </li>
          <li>
            <a href='http://www.google.com'>https://github.com/beezy12</a>
          </li>
        </ul>
      </article>

    </section>

  </body>
</html>