<div class="container-fluid">
 	<div class="row">
   		<div class="col-md-6 col-md-offset-3" id="signIn">
			
			<p>New here? Enter info and click 'register' button.</p>

			<label for="email">email:</label>
			<input type="text" ng-model="loginEmail" id="loginEmail" />

			<label for="password">password:</label>
			<input type="text" ng-model="loginPassword" id="loginPassword" />

			<label for="firstName">First Name: </label>
			<input type="text" ng-model="firstName" id="firstName">
			<br/>

			<label for="lastName">Last Name: </label>
			<input type="text" ng-model="lastName" id="LastName">

			<button ng-click="registerUser()">Register</button>

			<p>Already have an account? Sign in.</p>
			<button ng-click="signUserIn()">Sign in</button>
		</div>
	</div>
</div>